.settingSection{
    height: 600px;
    width: 85%;
    background-color: rgb(15, 78, 105);
    margin: 0 auto;
    margin-top: 80px;
}
.logOutOfSettings{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    border-radius: 100%;
    border:2px solid white;
    left: 1300px;
    text-align: center;
}
.logOutOfSettings > p{
    color: white;
    margin-top: 40px;
}
.petProfiles2{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 47%;
    border-radius: 100%;
    background-color: black;
    animation: 1s ease 0s 1 petProfile2;
}
@keyframes petProfile2{
    0%{top: -100px;}
    100%{top: 80px;}
}
.catProfile2 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.secondSettingSection{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 450px;
    margin-top: 120px;
    background-color: #3ecc88;
}
.payingCards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #5b7ca3;
    transition: 0.3s;
}
.payingCards:hover{
    width: 50%;
    transition: 0.3s;
}
.cardTrigger{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 100px;
    width: 100%;
}
.cardTrigger2{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 100px;
    width: 100%;
}
.cardTrigger3{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 100px;
    width: 100%;
}
.cardTrigger4{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 100px;
    width: 100%;
}
.cardInfo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    width: 600px;
    background-color: rgb(191, 196, 255);
    
}
.cardInfo > p:first-child{
    border-bottom:1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 20px;
    width: 100%;
    
}
.cardInfo > p:nth-child(2){
    position: absolute; 
    top: 20px;
    left: 500px;
    font-size: 30px;
    cursor: pointer;
}
.cardInfo2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:2px solid red;
}
.firstCardName, .cardNumber, .cardExpDate{
    display: flex;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}
.personalCards{ 
    /* left % makes it more dynamic towards increasing and decreasing width. ------------------------------------------*/
    position: relative;
    /* margin-left: 620px;
    margin-top: 30px; */
    left: 93%; 
    top: -280px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-color: black;
    border-style: solid;
    color: white;
    border-radius: 100%;
}
.logOutModal{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 400px;
    margin: 0 auto;
    border-style: solid;
}
.logOutModal > .logOutModHeader{
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: #5b7ca3;
    border-style: none;
}
.logOutActions{
    display: flex;
    padding: 10px 5px;
    text-align: center;
    background-color: #5b7ca3;
    flex-direction: row;
    justify-content: center;
    
}
.yesSignOut{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    margin-right: 50px;
}
.noSignOut{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
}
.petStores{
    width: 100px;
    height: 100px;
    background-color: #5b7ca3;
    transition: 0.3s;
}
.petStores:hover{
    width: 50%;
    transition: 0.3s;
}
.pharmacyLocation{
    width: 100px;
    height: 100px;
    background-color: #5b7ca3;
    transition: 0.3s;
}
.pharmacyLocation:hover{
    width: 50%;
    transition: 0.3s;
}
.petShoppingLocations{
    width: 100px;
    height: 100px;
    background-color: #5b7ca3;
    transition: 0.3s;
}
.petShoppingLocations:hover{
    width: 50%;
    transition: 0.3s;
}
.payingCards, .petStores, .pharmacyLocation, .petShoppingLocations{
    width: 60%;
    border:2px solid black;
}